
.Class {
    // background-color: purple;
    width: 93%;
    margin-left: initial;
    // height: 0px;
    border-top: 1px solid black
  }
  .mobileaboutUs{
    display: flex;
    color: black;
  }
  
  .mobilecart{
    display: flex;
    color: black;
  }
  
  .mobilelogout{
    display: flex;
    color: black;
    font-size: 27px;
    padding-left: 0.35em;
  }

  .mobilehambergermenu{
    display: flex;
    list-style-type:none;
    padding-inline-start: 20px;
    @media screen and (min-width: 1024px) and (max-width:1024px){
      display: none;
    }
  
    @media screen and (min-width: 701px) and (max-width:768px){
      display: none;
    }
  
    @media screen and (max-width:700px){
      flex-direction: column;
    }
  }